@keyframes modalBgOpen{
	0%{background-color: rgba(0, 0, 0, 0)}
	100%{background-color: rgba(0, 0, 0, 0.7);}
}
@keyframes modalBoxOpen{
	0%{transform: translateY(-100px);}
	100%{transform: translateY(0px);}
}
@keyframes modalBgClose{
	0%{background-color: rgba(0, 0, 0, 0.7)}
	100%{background-color: rgba(0, 0, 0, 0);}
}
@keyframes modalBoxClose{
	0%{transform: translateY(0);opacity: 1;}
	100%{transform: translateY(-100px);opacity: 0;}
}

.overflow-hidden {
    overflow: hidden;
}

.modal-stock{
	$this: &;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 7;
	display: flex;
	justify-content: center;
	align-items: center;
	a, &__link{
		color: $color-4;
		text-decoration: none;
		cursor: pointer;
		background-color: transparent;
    }
    h2 {
        font-size: $font-size-xxxb;
    }
	&--close{
		pointer-events: none;
		#{$this} {
            &__bg{
			    animation: modalBgClose 0.4s forwards;
		    }
            &__box{
                animation: modalBoxClose 0.2s forwards;
            }
        }
    }

	&__bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 150vh;
		animation: modalBgOpen 0.4s forwards;
	}
	&__box{
		animation: modalBoxOpen 0.4s forwards;
		transition: height 0.3s;
        max-width: 780px;
        max-height: 100%;
        width: 100%;
        padding-top: 0;
		background-color: $color-gray-1;
		color: $color-gray-7;
		border-radius: 4px;
		position: relative;
		z-index: 1;
	}
	&__close {
		position: absolute;
		top: 32px;
		width: 16px;
		height: 16px;
		background-size: cover;
        cursor: pointer;
        background-color: transparent;
		right: 32px;
		&:hover{
			opacity: 0.8;
		}
	}

	&__icon{
		width: 64px;
        height: 50px;
        display: inline-block;
        margin-bottom: 16px;
        .st0 {
            fill: $color-1;
        }
    }

	&__content{
		max-height: 90vh;
		padding: 40px;
		overflow-y: auto;
        overflow-x: hidden;
        text-align: center;
        margin: 8px 4px;

		&--flex{
			display: flex;
			flex-direction: column;
        }
        &--wrap {
            flex-wrap: wrap;
        }
	}
	&__contentflex{
		overflow: auto;
		flex: 1;
		padding: 16px;
    }
    
    &__content, &__contentflex {
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: $color-gray-2;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-gray-5;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $color-gray-6; 
            cursor: pointer;
        }
    }

	&__textplain{
		padding-bottom: 40px;
		h1{
			font-size: $font-size-xxb;
		}
		h2{
			font-size: $font-size-xb;
		}
		h1, h2 {
			text-align: center;
		}
		h1, h2, h3, p {
			margin-bottom: 16px;
		}
		ol{
			list-style-type: none;
			margin: 8px 0 24px;
		}
		ol, ul {
			padding-left: 16px;
		}
		strong{
			font-weight: 600;
        }
        
        &--small-text {
            font-size: $font-size-default;
            color: $color-gray-6;
        }

        &--left {
            text-align: left;
        }
    }
    
	&__title{
		text-align: center;
		font-size: $font-size-default;
		margin:8px 0 32px;
    }
    &__checkbox {
        display: inline-block;
        margin: 2px 4px 0 0;
        &-label {
            cursor: pointer;
        }
    }
    
    &__buttons {
            text-align: center;

            .btn {
                width: 254px;
                height: 48px;
                text-align: center;

                @media (max-width: 1024px) {
                    width: 100%;
                }

                &:nth-child(2) {
                    margin-left: 24px;

                    @media (max-width: 1024px) {
                        margin: 16px 0 0 0;
                    }
                }
            }
    }

	&__button {
		color: $color-gray-1;
		background-color: $color-1;
		font-size: $font-size-default;
		padding: 14px 65px;
		border-radius: 3px;
		margin: 0 auto 32px;
		display: block;
		border-style: none;
		cursor: pointer;
		&:hover{
			opacity: 0.7;
		}
		&-disabled{
			cursor: not-allowed;
			opacity: 0.5;
			&:hover{
				opacity: 0.5;
			}
		}
	}
	&__phrase {
		padding-top: 32px;
		position: relative;
		text-align: center;
		width: 90%;
		max-width: 350px;
		margin: 32px auto 0;
		&--text{
            font-size: $font-size-s;
            line-height: $font-size-xb;
        }
        &--color-gray {
            color: $color-gray-5;
        }

        &--left {
            display: inherit;
            text-align: left;
        }

		&:before{
			content: '';
			position: absolute;
			width: 130%;
			max-width: 410px;
			height: 1px;
			background-color: $color-gray-3;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
	}
	&__subtitle{
		font-size: $font-size-b;
		margin-bottom: 8px;
	}

	&__text{
		width: 100%;
		max-width: 360px;
		font-size: $font-size-b;
		margin: 32px auto;
	}
	@media (max-width: 768px) {
		&__box{
			padding: 16px;
			width: 90%;
			max-height: 90vh;
		}
		&__content{
			max-height: 80vh;
			padding: 16px;
		}
	}
}

_:-ms-fullscreen, :root .modal-stock__textplain {
	min-height: 470px;
}

@-moz-document url-prefix() {
	.modal-stock {
		&__textplain{
			ol:last-child{
				margin: 8px 0px 15%;
			}
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.modal-stock {
		&__textplain{
			ol:last-child{
				margin: 8px 0px 15%;
			}
		}
	}
}

@supports (-ms-ime-align: auto) {
	.modal-stock {
		&__textplain{
			ol:last-child{
				margin: 8px 0px 15%;
			}
		}
	}
}
