@keyframes modalBgOpen{
	0%{background-color: rgba(0, 0, 0, 0)}
	100%{background-color: rgba(0, 0, 0, 0.7);}
}
@keyframes modalBoxOpen{
	0%{transform: translateY(-100px);}
	100%{transform: translateY(0px);}
}
@keyframes modalBgClose{
	0%{background-color: rgba(0, 0, 0, 0.7)}
	100%{background-color: rgba(0, 0, 0, 0);}
}
@keyframes modalBoxClose{
	0%{transform: translateY(0);opacity: 1;}
	100%{transform: translateY(-100px);opacity: 0;}
}
.modal{
	$this: &;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 7;
	display: flex;
	justify-content: center;
	align-items: center;
	a, #{$this}__link{
		color: #43BCCD;
		text-decoration: none;
		cursor: pointer;
		background-color: transparent;
	}
	&--close{
		pointer-events: none;
		#{$this}{
			&__bg{
				animation: modalBgClose 0.4s forwards;
			}
			&__box{
				animation: modalBoxClose 0.2s forwards;
			}
		}
	}
	&__bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 150vh;
		animation: modalBgOpen 0.4s forwards;
	}
	&__box{
		animation: modalBoxOpen 0.4s forwards;
		transition: height 0.3s;
		max-width: 664px;
		width: 100%;
		background-color: #FFFFFF;
		color: #4D4C59;
		border-radius: 4px;
		position: relative;
		z-index: 7;
		padding-top: 60px;
		max-height: 90vh;
		display: flex;
		flex-direction: column;
		&--large{
			max-width: 1140px;
			#{$this}{
				&__channel-switch{
					.inputswitch{
						width: 100%;
						pointer-events: all;
					}
				}
			}
		}
	}
	&__close, &__prev{
		position: absolute;
		z-index: 1;
		top: 32px;
		width: 16px;
		height: 16px;
		background-size: cover;
		cursor: pointer;
		&:hover{
			opacity: 0.8;
		}
	}
	&__close{
		right: 32px;
	}
	&__prev{
		left: 32px;
	}
	&__icon{
		width: 64px;
		height: 64px;
		margin: 0 auto 16px;
		background-size: cover;
		fill: #4D4C59;
		&__container{
			display: flex;
		}
	}
	&__header{
		#{$this}{
			&__icon{
				fill: #F3123C;
				width: 44px;
				height: 44px;
				margin-bottom: 24px;
			}
		}
	}
	&__wrap{
		padding: 32px 48px 32px;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		&-hide{
			display: none;
		}
		&--shadow{
			position: relative;
			&:after{
				position: absolute;
				bottom: 32px;
				left: 48px;
				right: 64px;
				height: 70px;
				background-image: linear-gradient(to top, #fff 30%, transparent 100%);;
				content: '';
				pointer-events: none;
			}
			#{$this}{
				&__content{
					padding-bottom: 42px;
				}
			}
		}
	}
	&__bigtitle{
		font-size: 2.4em;
		line-height: 1.4em;
		text-align: center;
		font-weight: 600;
		margin-bottom: 16px;
	}
	&__list-title{
		color: #4D4C59;
		font-size: 1.6em;
		font-weight: 600;
		padding: 32px 0 12px 16px;
	}
	&__list-row{
		border-top: 1px solid #ECEDF2;
		padding: 8px 16px;
		font-size: 1.4em;
		height: 56px;
        transition: padding 0.3s, height 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
		&:last-child{
			border-bottom: 1px solid #ECEDF2;
		}
		&--hide{
			padding: 0px;
			height: 0px;
			font-size: 0px;
			border-top-style: none;
			#{$this}{
				&__list-right{
					display: none;
				}
			}
			.svg{
				display: none;
			}
		}
	}
	&__list-name{
		color: #43bccd;
    }
    &__list-map{
        display: flex;
		align-items: center;
		.svg{
			height: 16px;
			margin-right: 8px;
			fill: #4D4C59;
		}
    }
	&__list{
		&--group{
			#{$this}{
				&__list-row{
					.svg{
						width: 16px;
						height: 16px;
						fill: #4D4C59;
						margin-right: 8px;
					}
				}
			}
		}
	}
	&__content{
		flex: 1;
		overflow-y: scroll;
		padding-right: 8px;
		&::-webkit-scrollbar{
			background: transparent;
			width: 8px;
			transition: width 0.3s;
		}
		&::-webkit-scrollbar-track{
			border-radius: 16px;
		}
		&::-webkit-scrollbar-thumb{
			background-color: #8B8C99;
			border-radius: 16px;
			border: 2px solid #FFFFFF;
		}
		&:hover{
			padding-right: 0px;
			&::-webkit-scrollbar{
				width: 16px;
			}
			&::-webkit-scrollbar-track{
				background-color: #F3F5F8;
			}
			&::-webkit-scrollbar-thumb{
				border: 2px solid #F3F5F8;
			}
		}
		&--noscroll{
			&:hover{
				padding-right: 16px;
				&::-webkit-scrollbar{
					width: 0px;
				}
				&::-webkit-scrollbar-track{
					background-color: transparent;
				}
				&::-webkit-scrollbar-thumb{
					border: 2px solid transparent;
				}
			}
		}
	}
	&__error{
		text-align: center;
	}
	&__error-text{
		display: block;
		font-size: 1.6em;
	}
	&__error-icon{
		width: 100px;
		height: 100px;
		fill: #4D4C59;
	}
	&__zindex{
		z-index: 10;
	}
	&__back{
		font-weight: 500;
		font-size: 14px;
		&:before{
			content: '';
			display: inline-block;
			width: 8px;
			height: 8px;
			border-left: 2px solid #43BCCD;
			border-bottom: 2px solid #43BCCD;
			transform: rotate(45deg) translate(2px, -3px);
			margin-right: 8px;
		}
	}
	&__buttons{
		padding: 16px 48px 32px;
	}
	.btn--red{
		background-color: #F3123C;
		color: #FFFFFF;
	}
	@media (max-width: 768px) {
		&__box{
			z-index: 7;
			padding: 16px;
			width: 90%;
			max-height: 90vh;
		}
		&__content{
			max-height: 80vh;
			padding: 16px;
		}
		&__bigtitle{
			line-height: 1.2em;
		}
		&__header{
			#{$this}{
				&__icon{
					margin-bottom: 8px;
				}
			}
		}
	}
}

_:-ms-fullscreen, :root .modal__textplain {
	min-height: 470px;
}

@-moz-document url-prefix() {
	.modal{

	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.modal{

	}
}

@supports (-ms-ime-align: auto) {
	.modal{

	}
}
