.pagetitle{
    min-height: 88px;
    padding: 24px 32px 0;
    background-color: #FFFFFF;
    &__title{
        color: #4D4C59;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 44px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    &__tablist{
        display: flex;
    }
    &__tab{
        border-bottom: 2px solid transparent;
        color: #43BCCD;
        font-size: 1.4rem;
        padding: 0 8px 8px;
        margin-right: 16px;
        &:hover{
            opacity: 0.9;
        }
        &--active{
            color: #4D4C59;
            border-bottom-color: #43BCCD;
            cursor: default;
        }
    }
    .btn{
        padding: 11px 24px 10px;
    }
    @include device('tablet') {
        padding: 16px;
        &__content{
            flex-wrap: wrap;
        }
        &__title{
            width: 100%;
            padding-bottom: 12px;
            text-align: center;
        }
        &__aside{
            width: 100%;
        }
    }
}