@keyframes cockpit-load-icon-gear{
    0%{
        stroke-dashoffset: 260px;
        fill: transparent;
    }
    10%{
        stroke-dashoffset: 0px;
        fill: transparent;
        stroke-opacity: 1;
    }
    30%{
        stroke-dashoffset: -260px;
        fill: #fff;
        stroke-opacity: 0;
    }
    70%{
        stroke-dashoffset: -260px;
        fill: #fff;
        stroke-opacity: 0;
        opacity: 1;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    90%{
        opacity: 0;
        transform-origin: 50% 50%;
        transform: rotate(90deg);
    }
    95%{
        stroke-dashoffset: 260px;
    }
}
@keyframes cockpit-load-icon-circle{
    0%{
        stroke-dashoffset: 260px;
        fill: transparent;
    }
    10%{
        stroke-dashoffset: 0px;
        fill: transparent;
        stroke-opacity: 1;
    }
    30%{
        stroke-dashoffset: -260px;
        fill: #ec0928;
        stroke-opacity: 0;
    }
    70%{
        stroke-dashoffset: -260px;
        fill: #ec0928;
        stroke-opacity: 0;
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    95%{
        stroke-dashoffset: 260px;
    }
}
.cockpit-load{
    $this: &;
    color: #8B8C99;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 32px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    &--error{
        min-height: calc(100vh - 214px);
        #{$this}{
            &__icon{
                width: 164px;
                height: 164px;
            }
        }
    }
    .svg{
        display: block;
        margin-bottom: 16px;
    }
    &__icon{
        width: 128px;
        height: 128px;
        display: inline-block;
        stroke: #C5C6D0;
        stroke-width: 1px;
        stroke-dashoffset: 260px;
        stroke-dasharray: 260px;
        margin-bottom: 24px;
        .st0{
            animation: cockpit-load-icon-circle 5s infinite;
        }
        .st1{
            animation: cockpit-load-icon-gear 5s infinite;
        }
        *{
            fill: transparent;
        }
    }
    &__title{
        font-size: 3.6em;
        font-weight: 900;
        padding-bottom: 24px;
        text-transform: uppercase;
    }
    &__text{
        font-size: 2.4em;
        color: #8B8C99;
        display: inline;
        position: relative;
    }
}