@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(359deg);}
}

.d{
    &-fx{
        display: flex;
        flex-wrap: wrap;
    }
    &-b{
        display: block;
    }
    &-n{
        display: none;
    }
}
.ai{
    &-s{
        align-items: flex-start;
    }
    &-c{
        align-items: center;
    }
    &-e{
        align-items: flex-end;
    }
}
.jc{
    &-s{
        justify-content: flex-start;
    }
    &-c{
        justify-content: center;
    }
    &-e{
        justify-content: flex-end;
    }
    &-sb{
        justify-content: space-between;
    }
}
.ta{
    &-l{
        text-align: left;
    }
    &-c{
        text-align: center;
    }
    &-r{
        text-align: right;
    }
    &-j{
        text-align: justify;
    }
}
.accordion{
    $this: &;
    &--transition{
        overflow: hidden;
        transition: height 0.3s linear, padding 0.3s linear;
        will-change: height, padding;
    }
    &--hidden{
        overflow: hidden;
        height: 0;
    }
    &--open{
        #{$this}{
            &__icon-toggle{
                transform: rotate(225deg);
            }
        }
    }
}
.body{
    padding: 32px;
}
.btn{
    $btn: &;
	background-color: #ECEDF2;
	color: #8B8C99;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
	transition: opacity 0.2s, box-shadow 0.3s;
	&:hover{
		opacity: 0.7;
	}
	&:disabled{
		opacity: 0.2;
		cursor: not-allowed;
	}
	&--red{
        background-color: #F3123C;
        border-color: #F3123C;
		color: #FFFFFF;
		&#{$btn}{
			&--outline{
                color: #F3123C;
                border: 1px solid #F3123C;
			}
		}
	}
	&--green{
        background-color: #43BCCD;
        border-color: #43BCCD;
		color: #FFFFFF;
		&#{$btn}{
			&--outline{
                color: #43BCCD;
                border: 1px solid #43BCCD;
			}
		}
	}
	&--white{
		background-color: #FFFFFF;
		color: #8B8C99;
        border: 1px solid #8B8C99;
        &#{$btn}{
			&--outline{
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
			}
		}
    }
    &--outline{
        background-color: transparent;
    }
	&--small{
		font-size: 1.2rem;
		padding: 4px 9px;
	}
}
.load{
	position: relative;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	padding: 32px 0;
	&:before{
		content: '';
		animation: rotate 1s infinite;
		border-radius: 100%;
		border: 3px solid transparent;
		border-left-color: $color-gray-7;
		border-right-color: $color-gray-7;
		position: absolute;
		left: 50%;
		top: 50%;
		width: inherit;
		height: inherit;
		margin-left: -12px;
		margin-top: -12px;
	}
	&--white{
		&:before{
			border-left-color: $color-gray-1;
			border-right-color: $color-gray-1;
		}
	}
}

[cockpit-wrapper]{
    @extend .d-fx;
    flex-direction: column;
    height: 100%;
}
[cockpit-main]{
    @extend .d-fx;
    flex: 1;
}
[cockpit-app]{
    flex: 1;
}
$boxSides: (l: left, r: right, t: top, b: bottom);
$boxModel: (m: margin, p: padding);
@each $modelKey, $modelValue in $boxModel {
    .#{$modelKey}{
        @each $sideKey, $sideValue in $boxSides {
            @for $count from 1 to 9 {
                &#{$sideKey}-#{$count * 8}{
                    #{$modelValue}-#{$sideValue}: $count * 8px;
                }
            }
        }
    }
}

$fontSize: (10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 32, 40, 48, 56, 64);
@each $size in $fontSize {
    .fz-#{$size}{
        font-size: $size * 1px;
    }
}
