@mixin device($point) {
	@if $point == mobile {
		@media (max-width: 375px) { @content ; }
	}
	@else if $point == mobile-landscape {
		@media (max-width: 768px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 992px) { @content ; }
	}
	@else if $point == tablet-landscape {
		@media (max-width: 1199px) { @content ; }
	}
	@else if $point == pc {
		@media (min-width: 1200px) { @content ; }
	}
}

$grid-columns-length: 12;

$grid-width: 100 / $grid-columns-length;
%col-init{
	min-height: 1px;
	padding-left: 16px;
	padding-right: 16px;
}

.col-l{
	padding-left: 0;
}
.col-r{
	padding-right: 0;
}
.col-lr, .col-rl{
	padding-left: 0;
	padding-right: 0;
}

/* MOBILE */
$device-class: (pc: pc, tablet-landscape: tl, tablet: t, mobile-landscape: ml, mobile: m);
$mobile-size: (25: 25%,33: 33.3333%,50: 50%,75: 75%,80: 80%,100: 100%);


@each $key, $value in $device-class {
	@for $i from 1 through $grid-columns-length {
		.#{$value}-col-#{$i} {
			@extend %col-init;
		}
	}
	@each $key-size, $value-size in $mobile-size {
		.#{$value}-col-#{$key-size}{
			@extend %col-init;
		}
	}
	@include device($key) {
		@for $i from 1 through $grid-columns-length {
			.#{$value}-col-#{$i} {
				width: #{($grid-width * $i + '%')};
			}
		}
		@for $i from 1 through $grid-columns-length - 1 {
			.-#{$value}-col-#{$i} {
				margin-left: #{($grid-width * $i + '%')};
			}
		}
		@each $key-size, $value-size in $mobile-size {
			.#{$value}-col-#{$key-size}{
				width: #{$value-size};
			}
		}
		.#{$value}-col-r{
			padding-right: 0;
		}
		.#{$value}-col-l{
			padding-left: 0;
		}
		.#{$value}-col-rl, .#{$value}-col-lr{
			padding-left: 0;
			padding-right: 0;
		}
	}
}