//Colors
$color-1: #F3123C;
$color-2: #8826BB;
$color-3: #FF8327;
$color-4: #43BCCD;
$color-5: #00D6A6;
$color-6: #FFCE35;

$color-gray-1: #FFFFFF;
$color-gray-2: #F3F5F8;
$color-gray-3: #ECEDF2; 
$color-gray-4: #C5C6D0;
$color-gray-5: #8B8C99;
$color-gray-6: #696977;
$color-gray-7: #4D4C59;
$color-gray-8: #2E2D37;
$color-gray-9: #000000;

//Paths
$path-default:      '/images/';
$path-icons:        '/images/icons/';
$path-categories:   '/images/categories/';
$path-logos-svg:    '/images/logos-svg/';
$path-logos-png:    '/images/logos-png/';
$path-channels:     '/images/channels/';

//Fonts
$font-family-default: 'Poppins', sans-serif;

$font-size-base:    10px;
$font-size-xxxs:    0.8rem; //3x extra small
$font-size-xxs:     1.0rem; //2x extra small
$font-size-xs:      1.1rem; //extra small
$font-size-s:       1.2rem; //small
$font-size-default: 1.4rem; //default
$font-size-b:       1.6rem; //big
$font-size-xb:      1.8rem; //extra big
$font-size-xxb:     2.0rem; //2x extra big
$font-size-xxxb:    2.4rem; //3x extra big
$font-size-xxxxb:   3.2rem; //4x extra big
$font-size-xxxxxb:  3.6rem; //5x extra big

//Default opacities
$opacity-hover: 0.7;
$opacity-disabled: 0.2; 